@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

.calendar
{
    display: flex;
	flex-flow: column;
	align-items: center;
	font-family: "Poppins", serif;
    color: black;
	background: radial-gradient(
		circle,
		rgba(255, 60, 0, 1) 0%,
		rgba(60, 0, 0, 1) 90%);
}

a:link
{
    text-decoration: none;
    color: inherit;
}

a:visited
{
    text-decoration: none;
    color: inherit;
}

a:hover
{
    text-decoration: none;
    color: inherit;
}

a:active
{
    text-decoration: none;
    color: inherit;
}

.logodiv
{
    justify-content: center;
    display: flex;
}

.logo
{
    width: 50%;
}

.year
{
    display: flex;
    justify-content: center;
    font-size: 3vw;
    font-weight: 600;
    padding: 0.5rem;
}

.yrul
{
	display: grid;
	grid-template-columns: repeat(1, minmax(13%, 1fr));
    justify-items: center;
	list-style: none;
    width: 100vw;
    max-width: max-content;
    box-sizing: border-box;
    padding: inherit;
}